In [36]:
# Importing Libraries 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 

# Importing Data 
from sklearn.datasets import load_boston 
boston = load_boston()

In [37]:
data = pd.DataFrame(boston.data) 
data.columns = boston.feature_names 

data.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10

In [38]:
# Input Data 
x = boston.data 

# Output Data 
y = boston.target 


# splitting data to training and testing dataset. 
from sklearn.model_selection import train_test_split 
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size =0.2, 
													random_state = 0) 

print("xtrain shape : ", xtrain.shape) 
print("xtest shape : ", xtest.shape) 
print("ytrain shape : ", ytrain.shape) 
print("ytest shape : ", ytest.shape)

xtrain shape :  (404, 13)
xtest shape :  (102, 13)
ytrain shape :  (404,)
ytest shape :  (102,)

In [39]:
# Fitting Multi Linear regression model to training model 
from sklearn.linear_model import LinearRegression 
regressor = LinearRegression() 
regressor.fit(xtrain, ytrain) 

# predicting the test set results 
y_pred = regressor.predict(xtest)

In [40]:
# Results of Linear Regression. 
from sklearn.metrics import mean_squared_error 
mse = mean_squared_error(ytest, y_pred) 
print("Mean Square Error : ", mse)

Mean Square Error :  33.448979997676474

In [41]:
residual = ytest - y_pred
rss = sum(residual ** 2)
rss

3411.7959597630015

In [42]:
from sklearn.linear_model import Lasso
regressor = Lasso() 
regressor.fit(xtrain, ytrain) 

# predicting the test set results 
y_pred = regressor.predict(xtest) 

from sklearn.metrics import mean_squared_error 
mse = mean_squared_error(ytest, y_pred) 
print("Mean Square Error : ", mse)

Mean Square Error :  41.70009679994901

In [43]:
residual = ytest - y_pred
rss = sum(residual ** 2)
rss

4253.409873594798

In [44]:
from sklearn.linear_model import Ridge
regressor = Ridge() 
regressor.fit(xtrain, ytrain) 

# predicting the test set results 
y_pred = regressor.predict(xtest) 

from sklearn.metrics import mean_squared_error 
mse = mean_squared_error(ytest, y_pred) 
print("Mean Square Error : ", mse)

Mean Square Error :  34.231606110615395

In [45]:
residual = ytest - y_pred
rss = sum(residual ** 2)
rss

3491.623823282768