In [25]:
import pandas as pd
import numpy as np
from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline

In [26]:
df = pd.read_csv('tic_2000_train_data.csv')
df

,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,MRELGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
0,33,1,3,2,8,0,5,1,3,7,...,0,0,0,1,0,0,0,0,0,0
1,37,1,2,2,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
2,37,1,2,2,8,0,4,2,4,3,...,0,0,0,1,0,0,0,0,0,0
3,9,1,3,3,3,2,3,2,4,5,...,0,0,0,1,0,0,0,0,0,0
4,40,1,4,2,10,1,4,1,4,7,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5817,36,1,1,2,8,0,6,1,2,1,...,0,0,0,1,0,0,0,0,0,0
5818,35,1,4,4,8,1,4,1,4,6,...,0,0,0,1,0,0,0,0,0,0
5819,33,1,3,4,8,0,6,0,3,5,...,0,0,0,1,0,0,0,0,0,1
5820,34,1,3,2,8,0,7,0,2,7,...,0,0,0,0,0,0,0,0,0,0
5821,33,1,3,3,8,0,6,1,2,7,...,0,0,0,0,0,0,0,0,0,0

In [27]:
y = df['CARAVAN']
X = df.drop(['CARAVAN'], axis=1)

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 4)

In [29]:
from sklearn.linear_model import LinearRegression

# Create a Linear regressor
lm = LinearRegression()

# Train the model using the training sets 
lm.fit(X_train, y_train)

LinearRegression()

In [30]:
from sklearn.linear_model import Lasso

# Create a Lasso
lm1 = Lasso()

# Train the model using the training sets 
lm1.fit(X_train, y_train)

Lasso()

In [31]:
from sklearn.linear_model import Ridge

# Create a Lasso
lm2 = Ridge()

# Train the model using the training sets 
lm2.fit(X_train, y_train)

Ridge()

In [32]:
# Model prediction on train data
y_pred = lm.predict(X_train)
y_pred1= lm1.predict(X_train)
y_pred2= lm2.predict(X_train)
# Model Evaluation
print('RSS-Linear:',np.sum(np.square(y_train-y_pred)))
print('RMSE-Linear:',np.sqrt(metrics.mean_squared_error(y_train, y_pred)))
print('RSS-Lasso:',np.sum(np.square(y_train-y_pred1)))
print('RMSE-Lasso:',np.sqrt(metrics.mean_squared_error(y_train, y_pred1)))
print('RSS-Ridge:',np.sum(np.square(y_train-y_pred2)))
print('RMSE-Ridge:',np.sqrt(metrics.mean_squared_error(y_train, y_pred2)))

RSS-Linear: 209.30776666126826
RMSE-Linear: 0.22663598372573063
RSS-Lasso: 225.86503067484662
RMSE-Lasso: 0.23542939789372186
RSS-Ridge: 209.39585236781932
RMSE-Ridge: 0.22668366779200622