In [129]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

red_wine = pd.read_csv('winequality-red.csv')
white_wine = pd.read_csv('winequality-white.csv')

white_wine

,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [130]:
red_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [131]:
x1 = red_wine.drop('quality',axis=1)
y1 = red_wine['quality']

In [132]:
x2 = white_wine.drop('quality',axis=1)
y2 = white_wine['quality']

In [133]:
from sklearn.model_selection import train_test_split 
xtrain1, xtest1, ytrain1, ytest1 = train_test_split(x1, y1, test_size =0.3, 
													random_state = 22) 

print("xtrain1 shape : ", xtrain1.shape) 
print("xtest1 shape : ", xtest1.shape) 
print("ytrain1 shape : ", ytrain1.shape) 
print("ytest1 shape : ", ytest1.shape)

xtrain1 shape :  (1119, 11)
xtest1 shape :  (480, 11)
ytrain1 shape :  (1119,)
ytest1 shape :  (480,)

In [134]:
from sklearn.model_selection import train_test_split 
xtrain2, xtest2, ytrain2, ytest2 = train_test_split(x2, y2, test_size =0.3, 
													random_state = 22) 

print("xtrain2 shape : ", xtrain2.shape) 
print("xtest2 shape : ", xtest2.shape) 
print("ytrain2 shape : ", ytrain2.shape) 
print("ytest2 shape : ", ytest2.shape)

xtrain2 shape :  (3428, 11)
xtest2 shape :  (1470, 11)
ytrain2 shape :  (3428,)
ytest2 shape :  (1470,)

In [135]:
from sklearn.linear_model import LinearRegression 
regressor = LinearRegression() 
regressor.fit(xtrain1, ytrain1) 

# predicting the test set results 
y_pred1 = regressor.predict(xtest1)

In [136]:
from sklearn.linear_model import LinearRegression 
regressor = LinearRegression() 
regressor.fit(xtrain2, ytrain2) 

# predicting the test set results 
y_pred2 = regressor.predict(xtest2)

In [137]:
# Red Wine
from sklearn.metrics import mean_squared_error 
mse1 = mean_squared_error(ytest1, y_pred1) 
print("Mean Square Error : ", mse1)

Mean Square Error :  0.3895266298369761

In [138]:
residual1 = ytest1 - y_pred1
rss = sum(residual1 ** 2)
rss

186.9727823217484

In [139]:
# White Wine
from sklearn.metrics import mean_squared_error 
mse2 = mean_squared_error(ytest2, y_pred2) 
print("Mean Square Error : ", mse2)

Mean Square Error :  0.5768442848510925

In [140]:
residual2 = ytest2 - y_pred2
rss = sum(residual2 ** 2)
rss

847.9610987311042

In [141]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(x1, y1, train_size=0.7, test_size=0.3)

# LASSO Regression - Red Wine
from sklearn.linear_model import Lasso
lr = Lasso()
lr.fit(X_train, y_train)
y_pred3 = regressor.predict(X_test) 

from sklearn.metrics import mean_squared_error 
mse3 = mean_squared_error(y_test, y_pred3) 
print("Mean Square Error : ", mse3)

Mean Square Error :  1.2159324401187692

In [142]:
residual = y_test - y_pred3
rss = sum(residual ** 2)
rss

583.6475712570095

In [143]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(x2, y2, train_size=0.7, test_size=0.3)

# LASSO Regression - White Wine
from sklearn.linear_model import Lasso
lr = Lasso()
lr.fit(X_train, y_train)
y_pred4 = regressor.predict(X_test) 

from sklearn.metrics import mean_squared_error 
mse4 = mean_squared_error(y_test, y_pred4) 
print("Mean Square Error : ", mse4)

Mean Square Error :  0.566336046013019

In [144]:
residual = y_test - y_pred4
rss = sum(residual ** 2)
rss

832.513987639138

In [145]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(x2, y2, train_size=0.7, test_size=0.3)

# Ridge Regression - White Wine
from sklearn.linear_model import Ridge
lr = Ridge()
lr.fit(X_train, y_train)
y_pred4 = regressor.predict(X_test) 

from sklearn.metrics import mean_squared_error 
mse4 = mean_squared_error(y_test, y_pred4) 
print("Mean Square Error : ", mse4)

Mean Square Error :  0.5683509916349482

In [146]:
residual = y_test - y_pred4
rss = sum(residual ** 2)
rss

835.4759577033726

In [147]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(x1, y1, train_size=0.7, test_size=0.3)

# Ridge Regression - Red Wine
from sklearn.linear_model import Ridge
lr = Ridge()
lr.fit(X_train, y_train)
y_pred3 = regressor.predict(X_test) 

from sklearn.metrics import mean_squared_error 
mse3 = mean_squared_error(y_test, y_pred3) 
print("Mean Square Error : ", mse3)

Mean Square Error :  1.1938681246642058

In [148]:
residual = y_test - y_pred3
rss = sum(residual ** 2)
rss

573.0566998388192